POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

SECRET_KEY=secret_key
DATABASE_URL=


EMAIL_BACKEND=""
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=